.checkout-container {
	margin: 1em 3em;
}
.checkout-container legend {
	font-size: 1.5em;
	font-weight: 500;
	margin: 10px 0;
}
.checkout-form label {
	font-size: 1.1em;
	display: inline-block;
	margin: 10px 0;
}
.checkout-form input {
	width: 100%;
	padding: 10px;
	font-size: 1em;
}
.checkout-form button {
	width: 100%;
	padding: 10px;
	background: blue;
	border: 2px solid orange;
	color: #fff;
	display: inline-block;
	margin: 1em 0;
	font-size: 1em;
}
.paypal-container {
	background: #fff;
	box-shadow: hsl(0, 0%, 80%) 0 0 16px;
	padding: 1em;
	display: none;
	z-index: -2;
}

@media only screen and (min-width: 550px) {
	.checkout-container {
		margin: 6em 5em 2em 5em;
	}
	.checkout-form button {
		width: 60%;
	}
	.checkout-form label {
		display: none;
	}
	.checkout-form input {
		width: 47.5%;
		display: inline-block;
		margin: 8px 0;
		margin-left: 1.5%;
	}
	.checkout-form button {
		margin-left: 1.5%;
		width: 47.5%;
		display: block;
	}
}

@media only screen and (min-width: 780px) {
	.checkout-container {
		margin: 5em 10em 2em 10em;
	}
	.checkout-container legend {
		margin-left: 1.6%;
	}
	.checkout-form label {
		display: none;
	}
}


@media only screen and (min-width: 850px) {
	.checkout-container {
		margin: 8em 8em 2em 8em;
	}
}

@media only screen and (min-width: 950px) {
	.checkout-container {
		margin: 7em 13em 2em 13em;
	}
}


@media only screen and (min-width: 1050px) {
	.checkout-container {
		margin: 7em 25% 2em 25%;
	}
}