* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
/* Android Screen */
@media only screen and (max-width: 550px) {
	.shop-primary-nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
		background: #fff;
		padding: 1.4em 1em;
		box-shadow: hsl(0, 0%, 80%) 0 0 10px;
	}
	.shop-main-nav-links {
		background: #fff;
		position: fixed;
		height: 100vh;
		width: 200px;
		top: 0;
		left: -200px;
		transition: 1s;
		overflow: auto;
		padding-bottom: 3em;
		box-shadow: hsl(0, 0%, 80%) 0 0 0;
		z-index: 2;
	}
	.shop-main-nav-links ul {
		margin: 2em 0 2em 2em;
		overflow: auto;
		display: block;
	}
	.shop-main-nav-links ul li {
		list-style: none;
		margin: 1em 0;
	}
	.shop-main-nav-links ul li a {
		text-decoration: none;
		font-weight: 500;
		font-size: 1em;
		color: #000;
	}
	.shop-main-nav-links ul li button {
		font-size: 1em;
		padding: 0.5em 2em;
		font-weight: 500;
		border-radius: 6px;
		background: yellow;
		border: none;
	}
	#shop-nav-search-bar {
		padding: 0.3em 10px;
		font-size: 1em;
		font-weight: 400;
	}
	.shop-secondary-nav {
		display: flex;
		align-items: center;
		padding: 10px 0 0 0.5em;
	}
	#shop-secondary-nav-logo {
		width: 80px;
		height: 80px;
		border-radius: 40px;
	}
	.shop-secondary-nav span {
		margin-left: 1em;
		font-size: 3em;
		font-weight: 500;
		text-transform: capitalize;
		font-family: helvetica;
	}
	#shop-secondary-nav-logo {
		height: 40px;
		width: 40px;
		border-radius: 20px;
	}
	.shop-secondary-nav span {
		margin-left: 0.1em;
		font-size: 0.8em;
	}
	.shop-content-seperator {
		margin: 10px;
		height: 3px;
		background: orange;
	}
	.shop-nav-toggle-button {
		display: block;
	}
	#shop-nav-btn-close {
		margin: 0.8em 0 0 160px;
	}
	.nav-hr {
		display: block;
		margin: 0.5em 2em;
		height: 3px;
		background: #000;
	}
	.categories-label {
		display: block;
		font-size: 20px;
		font-weight: 500;
		text-align: center;
		color: #000;
	}
	.categories-content {
		display: block;
	}
	.shop-large-screen-categories {
		display: none;
	}
	.shop-product-row {
		margin: 1em 1em 2em 1em;
	}
	.shop-product-row:after {
		content: "";
		display: table;
		clear: both;
	}
	.shop-product-row legend {
		font-size: 1.5em;
		font-weight: 500;
		margin: 20px 0 0 0;
	}
	.shop-product-col  img {
		width: 100%;
		height: 170px;
		object-fit: cover;
	}
	.shop-product-col {
		float: left;
		width: 47.5%;
		margin: 1.6% 0 1.6% 1.6%;
	}
	.shop-product-col > p {
		text-align: center;
		font-size: 1em;
		font-weight: 600;
		margin-bottom: 5px;
	}
	.shop-product-col > button {
		width: 50%;
		background: orange;
		font-size: 0.7em;
		padding: 10px;
		border: none;
	}
	.fa {
		font-size: 2em;
	}
	.shop-main-nav-links sup {
		background: red;
		border-radius: 5px;
		padding: 1px;
		color: #fff;
	}
	footer {
		margin: 1em 0 2em 0;
		text-align: center;
		clear: both;
	}
	footer > p {
		font-size: 1em;
		font-weight: 500;
	}
}

/* Larger Phones (Tablets) */
@media only screen and (min-width: 550px) {
	.shop-primary-nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
		box-shadow: hsl(0, 0%, 80%) 0 0 10px;
		background: orangered;
		padding: 0.4em 1em;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
	}
	.shop-main-nav-links ul {
		display: flex;
		justify-content: space-around;
		align-items: center;
	}
	.shop-main-nav-links ul li {
		list-style: none;
		margin-left: 1.5em;
	}
	.shop-main-nav-links ul li a {
		text-decoration: none;
		font-size: 0.7em;
		font-weight: 500;
		color: #000;
	}
	.shop-main-nav-links ul li button {
		padding: 0.5em;
		border-radius: 6px;
		font-size: 0.6em;
		font-weight: 500;
		background: #e4e813;
		border: none;
	}
	#shop-nav-search-bar {
		width: 100%;
		padding: 0.2em;
		font-weight: 400;
	}
	.shop-secondary-nav {
		display: flex;
		align-items: center;
		padding: 10px 0 0 1em;
		position: absolute;
		top: 2em;
		left: 0;
		right: 0;
		z-index: -1;
	}
	#shop-secondary-nav-logo {
		width: 50px;
		height: 50px;
		border-radius: 25px;
		object-fit: cover;
	}
	.shop-secondary-nav span {
		margin-left: 0.1em;
		font-size: 0.8em;
		font-weight: 500;
		font-family: helvetica;
		text-transform: capitalize;
	}
	.shop-content-seperator,
	.shop-nav-toggle-button,
	.nav-hr,
	.categories-label,
	.categories-content {
		display: none;
	}
	.shop-large-screen-categories {
		box-shadow: hsl(0, 0%, 80%) 0 0 16px;
		background: #fff;
		position: fixed;
		top: 5em;
		left: 1.8em;
		padding: 1.2em;
		overflow: auto;
	}
	.large-categories-label {
		font-size: 0.8em;
		font-weight: 500;
		text-align: center;
	}
	.shop-large-screen-categories p {
		font-size: 1em;
		margin: 0.5em 0;
	}
	.shop-product-row {
		margin: 5em 1em 1em 10em;
	}
	.shop-product-row legend {
		font-size: 1em;
		font-weight: 500;
		margin-left: 1.6%;
		margin-bottom: 0.5em;
	}
	.shop-product-row:after {
		content: "";
		display: table;
		clear: both;
	}
	.shop-product-col {
		float: left;
		width: 30%;
		margin: 1.6% 0 1.6% 1.6%;
	}
	.shop-product-col img {
		width: 100%;
		height: 170px;
		object-fit: cover;
	}
	.shop-product-col > p {
		text-align: center;
		font-size: 1em;
		font-weight: 500;
		margin-bottom: 10px;
	}
	.shop-product-col button {
		padding: 10px;
		font-size: 1em;
		background: orange;
		border: none;
	}
	.fa {
		font-size: 2em;
	}
	.shop-main-nav-links sup {
		background: red;
		border-radius: 5px;
		padding: 2px;
		color: #fff;
	}
	footer {
		/*margin: 2em 2em 2em 18em;*/
		text-align: center;
		clear: both;
	}
	footer > p {
		font-size: 1em;
		font-weight: 500;
		margin: 2em 0;
	}
	
}

/* Medium Devices */
@media only screen and (min-width: 780px) {
	.shop-primary-nav {
		padding: 0.35em 15em;
		font-size: 0.5em;
	}
	#shop-nav-search-bar {
		padding: 0.2em;
		width: 100%;
	}
	.shop-main-nav-links ul li {
		margin-left: 1.5em;
	}
	.shop-main-nav-links ul li button {
		font-size: 1.2em;
	}
	.shop-main-nav-links ul li a {
		font-size: 1.5em;
	}
	#shop-secondary-nav-logo {
		width: 50px;
		height: 50px;
		border-radius: 25px;
	}
	.shop-large-screen-categories {
		top: 5em;
	}
	.shop-product-row {
		margin-top: 5em;
	}
	.shop-product-col {
		width: 22.5%;
	}
	.shop-secondary-nav {
		top: 1.5em;
	}
}

/* Laptops */
@media only screen and (min-width: 992px) {
	.shop-primary-nav {
		padding: 0.4em 10em;
		font-size: 0.5em;
	}
	.shop-product-col {
		width: 18.5;
	}
}
/* Larger Screen Laptops */