{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="{% static 'css/shop.css' %}">
	<link rel="stylesheet" href="{% static 'css/cart.css' %}">
	<link rel="stylesheet" href="{% static 'css/cart.css' %}">
	<link rel="stylesheet" href="{% static 'css/checkout.css' %}">
	<title>{% block title %} {% endblock %}</title>
</head>
<body>
	<nav class="shop-primary-nav">
		<i class="fa fa-bars shop-nav-toggle-button" id= "shop-nav-btn-open"></i>
		<div class="shop-main-nav-links">
			<i class="fa fa-bars shop-nav-toggle-button" id="shop-nav-btn-close"></i>
			<ul>
				<li><a href="{% url 'products:shop' %}">SHOP</a></li>
				<li><a href="{% url 'products:cart' %}"><i class= "fa fa-cart-plus"><sup id= "cart-total"></sup></i></a></li>
				<li><a href="{% url 'products:checkout' %}">CHECKOUT</a></li>
				{% if request.user.is_authenticated %}
				<li><button onclick= "logout()">LOGOUT</button></li>
				{% else %}
				<li><button onclick= "login()">LOGIN</button></li>
				{% endif %}
			</ul>
			
			<hr class="nav-hr">
			<legend class="categories-label">CATEGORIES</legend>
			<hr class="nav-hr">
			<ul>
				<li class="categories-content"><a href="{% url 'products:shop' %}">All</a></li>
			{% for category in categories %}
				<li class="categories-content"><a href="{% url 'products:shop' %}?q={{ category }}">{{ category }}</a></li>
			{% endfor %}
			</ul>
			
			
		</div>
		<div class="shop-nav-search-bar">
			<form action= "{% url 'products:shop' %}">
				<input type="search" name="q" id="shop-nav-search-bar" placeholder="Search Product..." required>
			</form>
		</div>
	</nav>
	
	<nav class="shop-secondary-nav">
		<img src="{% static 'img/logo.png' %}" id="shop-secondary-nav-logo">
		<span>Gabi's Shop</span>
	</nav>
	
	<hr class="shop-content-seperator">

	{% block content %}
	
	{% endblock %}
	
	<footer>
		<p>&copy;2022 codewitgabi</p>
	</footer>

	<script>
		var openBtn = document.getElementById("shop-nav-btn-open");
		var closeBtn = document.getElementById("shop-nav-btn-close");
		var navBar = document.getElementsByClassName("shop-main-nav-links");
		var logout_url = "{% url 'accounts:logout' %}";
		var login_url = "{% url 'accounts:login' %}";
		var getCartTotalURL = "{% url 'products:getCartTotal' %}";
		var cartTotal = document.getElementById("cart-total");
		
		openBtn.addEventListener("click", function () {
			navBar[0].style.left = "0";
		})
		closeBtn.addEventListener("click", function () {
			navBar[0].style.left = "-200px";
		})
		
		function logout () {
			window.location = logout_url;
		}
		
		function login () {
			window.location = login_url;
		}
		
		
		function getCartTotal () {
			var request = new XMLHttpRequest();
			request.open("GET", getCartTotalURL)
			request.onload = function () {
				cartTotal.textContent = request.responseText;
			}
			request.send()
		}
		window.setInterval(getCartTotal, 1000)
		
	</script>
	
	
	<script>
		function getCookie(name) {
		    let cookieValue = null;
		    if (document.cookie && document.cookie !== '') {
		        const cookies = document.cookie.split(';');
		        for (let i = 0; i < cookies.length; i++) {
		            const cookie = cookies[i].trim();
		            if (cookie.substring(0, name.length + 1) === (name + '=')) {
		                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
		                break;
		            }
		        }
		    }
		    return cookieValue;
		}
		const csrftoken = getCookie('csrftoken');
	
	</script>
	
	<script src="https://www.paypal.com/sdk/js?client-id=AaEK9Vd3Yrd5qM51igtdd_luiclW6-JAmAUvKkv4BOrsy7RgN077y7vE6UyVl0XUhH7sxYIsFsSptJGI&currency=USD"></script>
	
	<script>
		var updateCartBtns = document.getElementsByClassName("update-cart");
		var user = "{{ request.user }}";
		var updateCartURL = "{% url 'products:updateCartItem' %}";
		var cartURL = "{% url 'products:cart' %}";
		
		for (var btn of updateCartBtns) {
			btn.addEventListener("click", function () {
				var productID = this.dataset.product;
				var action = this.dataset.action;
				
				
				if (user !== "AnonymousUser") {
					updateCartItems(productID, action);	
				} else {
					window.location = login_url;
				}
			})
		}
		
		function updateCartItems (productID, action) {
			fetch(updateCartURL, {
				method: "POST",
				headers: {
					"Content-Type": "application/json",
					"X-CSRFToken": csrftoken
				},
				body: JSON.stringify({"product_id": productID, "action": action})
			})
			.then(response => response.json())
			.then(data => {
				console.log(data)
			})
			.catch(error => {
				alert(error)
			})
		}
		
	</script>
	
	<script>
		var form = document.getElementById("form");
		var paypalWrapper = document.getElementById("paypal-container");
		var shippingURL = "{% url 'products:processOrder' %}";
		var cart_price_total = "{{ cart_price_total }}";
		
		form.addEventListener("submit", function (e) {
			e.preventDefault();
			paypalWrapper.style.display = "block";
			form.style.display = "none";
			
			var shippingInfo = {
				"country": form.country.value,
				"city": form.city.value,
				"address": form.address.value,
				"zipcode": form.zipcode.value,
				"tel": form.tel.value,
				"price": cart_price_total
			}
			
			paypal.Buttons({
				createOrder: (data, actions) => {
					return actions.order.create({
						purchase_units: [{
							amount: {
								value: cart_price_total
							}
						}]
					});
				},
				onApprove: (data, actions) => {
					return actions.order.capture().then(function(orderData) {
						console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
						const transaction = orderData.purchase_units[0].payments.captures[0];
						processOrder(shippingInfo)
					});
				}
			}).render('#paypal-button-container');

		})
		
		function processOrder (shippingInfo) {
			fetch(shippingURL, {
				method: "POST",
				headers: {
					"Content-Type": "application/json",
					"X-CSRFToken": csrftoken
				},
				body: JSON.stringify({"address": shippingInfo.address, "city": shippingInfo.city, "country": shippingInfo.country, "zipcode": shippingInfo.zipcode, "tel": shippingInfo.tel, "cart_price_total": shippingInfo.price})
			})
			.then(response => response.json())
			.then(data => {
				alert(data);
				window.location = "{% url 'products:shop' %}";
			})
			.catch(error => {
				alert(error)
			})
		}
	</script>
	
</body>
</html>